header {
    position: sticky;
    top: 0;
    z-index: 20;
}

#top-navbar {
    align-items: center;
    background-color: rgb(255, 135, 35);
    display: grid;
    grid-template-columns: 3.5rem auto 3.5rem;
    grid-template-rows: 3.5rem;
    justify-content: space-between;
    justify-items: center;
}

#main-website-link {
    border-radius: 50%;
    grid-column: 1 / 2;
    height: 2.5rem;
    width: 2.5rem;
}

#main-website-link > img {
    border: 2px solid #322;
    border-radius: 50%;
    max-height: 100%;
    transition: border 0.5s, transform 0.5s;
}

#main-website-link:hover > img {
    transform: scale(1.125);
}

#main-website-link:active > img {
    border: 2px solid #ddd;
}

#logo-first-name, #logo-last-name {
    display: none;
}

h1 {
    font-family: "Delius Swash Caps", cursive;
    font-size: 1.5rem;
    grid-column: 2 / 3;
    text-align: center;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #fff;
}

h1 > a {
    color: #000;
}

#menu-icon {
    background-color: rgb(255, 100, 0);
    border-radius: 0.5rem;
    cursor: pointer;
    grid-column: 3 / 4;
    padding: 0.5rem;
    width: 2.5rem;
}

#menu-icon:hover {
    background-color: rgb(255, 50, 0);
}

nav {
    background-color: rgb(0, 100, 200);
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 0.5rem;
    width: calc(100% - 1rem);
}

#nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-x: hidden;
    padding: 0 0.5rem;
}

#nav-list li {
    border-top: 2px solid rgb(255, 135, 35);
}

#nav-list li:first-child {
    border-top: none
}

#nav-list a {
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 0.5rem 0;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000;
}

#nav-list a:hover {
    cursor: pointer;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(255, 135, 35);
}

@media (min-width: 576px) {
    #top-navbar {
        grid-template-columns: 9rem 15.75rem 9rem; /* 540px = 33.75rem */
        justify-content: center;
    }

    #main-website-link {
        align-items: center;
        display: grid;
        gap: 0rem 0.3rem;
        grid-template-columns: 2.5rem auto;
        grid-template-rows: 1.4rem 1.1rem;
        justify-self: start;
        text-decoration: none;
        width: 100%;
    }

    #main-website-link > img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    #logo-first-name, #logo-last-name {
        display: block;
        grid-column: 2 / 3;
    }

    #logo-first-name {
        color: #fff;
        font-family: "Nunito", sans-serif;
        font-size: 1.4rem;
        line-height: 1;
        text-shadow: 0.125rem 0.125rem 0.0625rem #000;
    }

    #logo-last-name {
        color: rgb(0, 120, 220);
        font-family: "Nunito", sans-serif;
        font-size: 1.1rem;
        font-style: italic;
        line-height: 1;
        text-shadow: 0.125rem 0.125rem 0.0625rem #000;
        white-space: nowrap;
    }

    #menu-icon {
        display: none;
    }

    nav {
        background-color: #fff;
        border-radius: 0 0 1.5rem 1.5rem;
        margin: 0 auto;
        width: 33.75rem;
    }

    #nav-list {
        flex-direction: row;
        justify-content: center;
    }

    #nav-list li {
        border-top: none;
    }

    #nav-list a {
        color: rgb(0, 100, 200);
        padding: 0.5rem 1rem;
        text-shadow: none;
    }
}

@media (min-width: 768px) {
    #top-navbar {
        grid-template-columns: 9rem 27rem 9rem; /* 720px = 45rem */
    }

    nav {
        width: 45rem;
    }
}

@media (min-width: 992px) {
    #top-navbar {
        grid-template-columns: 9rem 42rem 9rem; /* 960px = 60rem */
    }

    nav {
        width: 60rem;
    }

    #nav-list a {
        padding: 0.5rem 1.5rem;
    }
}

@media (min-width: 1200px) {
    #top-navbar {
        grid-template-columns: 9rem 53.25rem 9rem; /* 1140px = 71.25rem */
        grid-template-rows: 4rem;
    }

    #main-website-link {
        grid-template-columns: 3rem auto;
        grid-template-rows: 1.68rem 1.32rem;
        height: 3rem;
    }

    #logo-first-name {
        font-size: 1.68rem;
    }

    #logo-last-name {
        font-size: 1.32rem;
    }

    h1 {
        font-size: 2rem;
    }

    nav {
        width: 71.25rem;
    }

    #nav-list a {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }
}