.topic-name {
    background-color: rgb(0, 100, 200);
    border-radius: 0.5rem;
    color: #fff;
    font-family: "Fredoka", sans-serif;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
}

.topic-name:hover {
    text-shadow: 0.125rem 0.125rem 0.125rem #000;
}

.card img {
    transition: box-shadow 0.3s, transform 0.3s;
}

.card img:hover {
    box-shadow: 0 0 0.25rem #555;
    transform: scale(1.02);
}

.card .card-title {
    font-family: "Fredoka", sans-serif;
}

.card:first-child {
    background-color: rgb(255, 155, 55);
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.card:first-child img {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.card:first-child > .text-content-container {
    padding: 0.3rem 0.5rem 0.5rem;
}

.card:first-child .card-title {
    color: #000;
    font-size: 2rem;
    margin: 0.3rem 0 0.5rem;
}

.card:first-child .card-title:hover {
    color: rgb(0, 100, 200);
}

.card-date {
    color: #333;
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
}

.card:first-child .card-description {
    color: #222;
}

.card:nth-child(3) {
    border-top: 0.09375rem solid #666;
}

.card:not(:first-child) {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: 30vw auto;
    grid-template-rows: 30vw;
    margin: 1rem 0.5rem;
    padding-top: 1rem;
}

.card:not(:first-child) > .card-img-link {
    border-radius: 0.5rem;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
}

.card:not(:first-child) img {
    border-radius: 0.5rem;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.card:not(:first-child) > .text-content-container {
    grid-column: 2 / 3;
}

.card:not(:first-child) .card-date {
    margin-bottom: 0.5rem;
}

.card:not(:first-child) .card-title {
    color: rgb(0, 100, 200);
    font-size: 1.2rem;
}

.card:not(:first-child) .card-title:hover {
    color: rgb(200, 100, 0);
}

.card:not(:first-child) .card-description {
    display: none;
}

@media (min-width: 576px) {
    #home {
        margin: 0 auto;
        max-width: 33.75rem;  /*  33.75rem == 540px  */
    }

    .topic-name {
        border-radius: 1rem;
        margin: 2rem 0;
        padding: 0.5rem 1rem;
    }

    .card:first-child {
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 33.75rem;
        grid-template-rows: 16.875rem auto;
        margin: 0;
    }

    .card:first-child > .card-img-link {
        grid-row: 1 / 2;
    }

    .card:first-child img {
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }

    .card:first-child > .text-content-container {
        grid-row: 2 / 3;
        padding: 1rem;
    }

    .card:first-child .card-title {
        margin: 0.5rem 0;
    }

    .card:not(:first-child) {
        column-gap: 1rem;
        grid-template-columns: 11.25rem 22.5rem;
        grid-template-rows: 7.5rem;
        margin: 1rem 0;
    }

    .card:not(:first-child) > .card-img-link {
        border-radius: 1rem;
    }

    .card:not(:first-child) img {
        border-radius: 1rem;
    }

    .card:not(:first-child) .card-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    #home {
        max-width: 45rem;  /*  45rem == 720px  */
    }

    .cards-container {
        align-content: space-between;
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 29rem 14rem;
        grid-template-rows: auto auto;
        row-gap: 2rem;
    }

    .card:first-child {
        grid-column: 1 / 2;
        grid-template-columns: 29rem;
        grid-template-rows: 14.5rem auto;
        grid-row: 1 / 3;
    }

    .card:nth-child(3) {
        border-top: none;
    }

    .card:not(:first-child) {
        align-content: start;
        grid-column: 2 / 3;
        grid-template-columns: 14rem;
        grid-template-rows: 7rem auto;
        margin: 0;
        padding: 0;
        row-gap: 0.5rem;
    }

    .card:not(:first-child) > .card-img-link {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .card:not(:first-child) > .text-content-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

@media (min-width: 992px) {
    #home {
        max-width: 60rem;  /*  60rem == 960px  */
    }

    .cards-container {
        grid-template-columns: repeat(3, 18.6667rem);
        grid-template-rows: 1fr;
    }

    .card:first-child {
        background-color: #fff;
        border: 0.125rem solid rgb(255, 155, 55);  /*  0.125rem == 2px  */
        grid-row: 1 / 2;
        grid-template-columns: 100%;
        grid-template-rows: 9.3333rem auto;
    }

    .card:first-child img {
        border-radius: 0.91rem 0.91rem 0 0;
    }

    .card:first-child .card-title {
        color: rgb(0, 100, 200);
    }

    .card:first-child .card-title:hover {
        color: rgb(200, 100, 0);
    }

    .card:not(:first-child) {
        border: 0.125rem solid rgb(255, 155, 55);  /*  0.125rem == 2px  */
        border-radius: 1rem;
        grid-template-columns: 100%;
        grid-template-rows: 9.3333rem auto;
        row-gap: 0;
    }

    .card:not(:first-child) img {
        border-radius: 0.91rem 0.91rem 0 0;
    }

    .card:nth-child(2) {
        grid-column: 2 / 3;
    }

    .card:nth-child(3) {
        grid-column: 3 / 4;
    }

    .card:not(:first-child) > .text-content-container {
        padding: 1rem;
    }

    .card:not(:first-child) .card-title {
        font-size: 2rem;
        margin: 0.5rem 0;
    }

    .card:not(:first-child) .card-description {
        display: block;
    }
}

@media (min-width: 1200px) {
    #home {
        max-width: 71.25rem;  /*  71.25rem == 1140px  */
    }

    .topic-name {
        border-radius: 2rem;
        font-size: 2rem;
        margin: 3rem 0;
        padding: 1rem 2rem;
    }

    .cards-container {
        column-gap: 3rem;
        grid-template-columns: repeat(3, 21.75rem);
    }

    .card:first-child {
        grid-template-rows: 10.875rem auto;
    }

    .card:not(:first-child) {
        grid-template-rows: 10.875rem auto;
    }
}