<main id="home">
    <section
        class="topic-container"
        *ngFor="let topic of dataContent"
    >
        <h2 class="topic-name">
            {{ topic[0].topic.toUpperCase() }}
        </h2>
        <div class="cards-container">
            <div class="card" *ngFor="let article of topic">
                <a
                    class="card-img-link"
                    [routerLink]="[article.topic, article.id()]"
                >
                    <img
                        alt="{{ article.imgDescription }}"
                        src="{{ article.img }}"
                    />
                </a>
                <div class="text-content-container">
                    <span class="card-date">
                        {{ formatDate(article.date) }}
                    </span>
                    <a
                        class="card-title-link"
                        [routerLink]="[article.topic, article.id()]"
                    >
                        <h3 class="card-title">{{ article.title }}</h3>
                    </a>
                    <p class="card-description">
                        {{ article.descriptionBrief }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>